---
import type { CollectionEntry } from 'astro:content';
import { Icon } from 'astro-icon';
import FormattedDate from '~/components/FormattedDate.astro';

type Props = {
    post: CollectionEntry<'blog' | 'project'>;
    withDesc?: boolean;
    className?: string;
};

const { post, withDesc = false } = Astro.props;
const postDate = post.data.date_created;
const pinned: boolean = !!post.data.pin;
const urlBasePath =
    post.collection === 'project' ? 'projects' : post.collection;
---

<li>
    <span>
        <a href={`/${urlBasePath}/${post.id}/`} class="post-item">
            <h4 class="cody-link inline font-bold">{post.data.title}</h4>
        </a>
        {
            pinned && (
                <Icon
                    class="h-5 w-5 inline text-accent rotate-45 -ml-1"
                    name="mdi:pin"
                    aria-hidden="true"
                    focusable="false"
                />
            )
        }
    </span>
    <p class="date pr-2 mt-1">
        <FormattedDate date={postDate} class="text-textColor" />
    </p>
    {withDesc && <p class="italic">{post.data.description}</p>}
</li>
<style>
    .post-item:before {
        content: '#';
        @apply text-accent-2;
    }
</style>
